<%- include('../includes/header'); %>

    <div class="container">
        <h2>
            Edit
        </h2>

        <form action="/posts/edit" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" value="<%= postById.title %>" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <input type="text" value="<%= postById.content %>" class="form-control" id="content" name="content">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include('../includes/footer'); %>